%html
  %head
    %title Hello, World!
    %script{src: "/javascripts/jquery.min.js"}
    %script{src: "/javascripts/underscore-min.js"}
    %script{src: "/javascripts/backbone-min.js"}
    %script{src: "/socket.io/socket.io.js"}
    %script{src: "/javascripts/news.js"}
  %body
    %div#content
